<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="JSONFileCheck.Properties.FieldLengthSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <JSONFileCheck.Properties.FieldLengthSetting>
            <setting name="factory_length" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="line_length" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="work_order_lenght" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="uut_type_length" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="uut_name_length" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="uut_code_length" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="serial_number_length" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="supplier_length" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="date_code_length" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="lot_code_length" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="mould_length" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="cavity_length" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="colour_length" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ate_name_length" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="computer_name_length" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="fixuer_id_length" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="program_name_length" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="program_ver_length" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="operator_length" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="operation_sequence_length" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="site_code_length" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="item_name_length" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="result_desc_length" serializeAs="String">
                <value>512</value>
            </setting>
            <setting name="value_flag_length" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="segment_1_length" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="segment_2_length" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="segment_3_length" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="segment_4_length" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="segment_5_length" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="segment_6_length" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="sub_item_name_length" serializeAs="String">
                <value>100</value>
            </setting>
        </JSONFileCheck.Properties.FieldLengthSetting>
    </userSettings>
</configuration>
